version: '3.7'
services:
  postgres:
    image: postgres:17.4
    container_name: postgres_db
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: ecommercedb
    ports:
      - "5432:5432"
    networks:
      - ecommerce-network

  kafka:
    image: confluentinc/cp-kafka:7.3.2
    container_name: kafka_broker
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_ZOOKEEPER_CONNECT: zoo1:2181
    depends_on:
      - zoo1
    networks:
      - ecommerce-network

  zoo1:
    image: confluentinc/cp-zookeeper:7.3.2
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    networks:
      - ecommerce-network

  user-service:
    build: ./user-service
    image: prabsin/user-service
    container_name: user-service
    depends_on:
      - postgres
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres_db:5432/ecommercedb
      - SPRING_DATASOURCE_USERNAME=myuser
      - SPRING_DATASOURCE_PASSWORD=mypassword
    ports:
      - "8081:8081"
    networks:
      - ecommerce-network

  product-service:
    build: ./product-service
    image: prabsin/product-service
    container_name: product-service
    depends_on:
      - postgres
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres_db:5432/ecommercedb
      - SPRING_DATASOURCE_USERNAME=myuser
      - SPRING_DATASOURCE_PASSWORD=mypassword
    ports:
      - "8082:8082"
    networks:
      - ecommerce-network

  order-service:
    build: ./order-service
    image: prabsin/order-service
    container_name: order-service
    depends_on:
      - postgres
      - kafka
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres_db:5432/ecommercedb
      - SPRING_DATASOURCE_USERNAME=myuser
      - SPRING_DATASOURCE_PASSWORD=mypassword
    ports:
      - "8083:8083"
    networks:
      - ecommerce-network

  payment-service:
    build: ./payment-service
    container_name: payment-service
    image: prabsin/payment-service
    depends_on:
      - kafka
    ports:
      - "8084:8084"
    networks:
      - ecommerce-network

networks:
  ecommerce-network:
    driver: bridge
